<div id="dashboardHandles" class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">NBA Basketball Fantasy 3v3</h2>
      <p class="mt-2 text-lg leading-8 text-gray-600">Where the top players go head to head</p>
    </div>
    <div
      class="mx-auto mt-10 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 border-t border-gray-200 pt-10 sm:mt-16 sm:pt-16 lg:mx-0 lg:max-w-none lg:grid-cols-3">
      <article class="flex max-w-xl flex-col items-start justify-between">
        <div class="flex items-center gap-x-4 text-xs">
        </div>
        <div class="group relative">
          <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
            <a href="#">
              
              <span class="absolute inset-0"></span>
              My Favorite Player
            </a>
            <h2 id="profile-heads">Nikola Jokic{{name}}</h2>
          </h3>
          <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600"></p>
        </div>
        <div class="relative mt-8 flex gap-x-4">
          <img src="https://cdn.nba.com/headshots/nba/latest/1040x760/203999.png" alt=""
            class="object-left h-48 w-96 ...">
          <div class="text-sm leading-6">
            <p class="font-semibold text-gray-900">
              <a href="#">
                <span class="absolute inset-0"></span>

              </a>
            </p>

          </div>
        </div>
      </article>
      <article class="flex max-w-xl flex-col items-center justify-between">
        <div class="flex items-center gap-x-4 text-xs">
        </div>
        <div class="group relative">
          <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
            {{teams.[0].teamName}}
          </h3>

          <div id='myTeam' class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">
            {{#each teams.[0].players as |player|}} 
          <img class="object-scale-down h-12 w-36 ..." src={{player.img}} alt="">
          <p>{{player.name}}</p>
          <p>{{player.rebounds}} rebounds</p>
          <p>{{player.assists}} assists</p>
            {{/each}}
          </div>
        </div>
      </article>

      <div class="group relative">
        <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
          <a href="#" class="grid grid-rows-3 grid-flow-col gap-4 py-3">
            <span class="absolute inset-0"></span>
            <h2 class="text-center">Who Will Be Victorious?</h2><br>
            <img src="https://m.media-amazon.com/images/I/51yQix+-S1L.jpg" alt=""
            class="object-left h-96 w-96 ...">
            {{!-- <button
              class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
              data-id="{{player.id}}">Nikola Jokic</button>
            <button
              class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
              data-id="{{player.id}}">Giannis Antetokounmpo</button>
            <button
              class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
              data-id="{{player.id}}">Luka Doncic</button>
            <button
              class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
              data-id="{{player.id}}">Jayson Tatum</button>
            <button
              class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
              data-id="{{player.id}}">Joel Embiid</button>
            <button
              class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
              data-id="{{player.id}}">Kevin Durant</button>
            <button
              class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
              data-id="{{player.id}}">Steph Curry</button>
            <button
              class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
              data-id="{{player.id}}">Lebron James</button>
            <button
              class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
              data-id="{{player.id}}">Ja Morant</button>
            <button
              class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
              data-id="{{player.id}}">Damian Lillard</button> --}}
          </a>
        </h3>
        <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600"></p>
      </div>

      {{!-- <ul role="list" class="divide-y divide-gray-100 py-5">
        <li class="flex justify-between gap-x-6 py-5">
          <div class="flex min-w-0 gap-x-4">
            <img class="object-scale-down h-12 w-36 ..."
              src="https://cdn.nba.com/headshots/nba/latest/1040x760/203507.png" alt="">
            <div class="min-w-0 flex-auto">
              <p class="text-sm font-semibold leading-6 text-gray-900">Giannis Antetokounmpo{{name}}</p>
              <p class="mt-1 truncate text-xs leading-5 text-gray-500">Player 1</p>
            </div>
          </div>
          <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
            <p class="text-sm leading-6 text-gray-900">Ranking</p>
            <p class="mt-1 text-xs leading-5 text-gray-500">{{ranking}}
          </div>
        </li>
        <li class="flex justify-between gap-x-6 py-5">
          <div class="flex min-w-0 gap-x-4">
            <img class="object-scale-down h-12 w-36 ..."
              src="https://cdn.nba.com/headshots/nba/latest/1040x760/1629029.png" alt="">
            <div class="min-w-0 flex-auto">
              <p class="text-sm font-semibold leading-6 text-gray-900">Luka Doncic{{name}}</p>
              <p class="mt-1 truncate text-xs leading-5 text-gray-500">Player 2</p>
            </div>
          </div>
          <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
            <p class="text-sm leading-6 text-gray-900">Ranking</p>
            <p class="mt-1 text-xs leading-5 text-gray-500">{{ranking}}
          </div>
        </li> --}}
        <div class="playerContainer col-md-6">
          {{#each players as |player|}}
          <div class="players" data-id={{player.id}}>
            <li class="flex justify-between gap-x-6 py-5">
              <div class="flex min-w-0 gap-x-4">
                <img class="object-scale-down h-12 w-36 ..." src={{player.img}} alt="">
                <div class="min-w-0 flex-auto">
                  <p class="text-sm font-semibold leading-6 text-gray-900">{{player.name}}</p>
                  <p class="mt-1 truncate text-xs leading-5 text-gray-500">{{player.ppg}} ppg</p>
                  <p class="mt-1 truncate text-xs leading-5 text-gray-500">{{player.rebounds}} rebounds</p>
                  <p class="mt-1 truncate text-xs leading-5 text-gray-500">{{player.assists}} assists</p>
                </div>
              </div>
              <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
                <p class="text-sm leading-6 text-gray-900">Ranking</p>
                <p class="mt-1 text-xs leading-5 text-gray-500">{{player.ranking}}
              </div>
            </li>
          </div>
          <button class="addBtn" data-id={{player.id}}>Add</button>
              <p class="mt-2 line-clamp-3 text-sm leading-6 text-gray-600"></p>
          {{/each}}
        </div>

        {{!--
      </ul> --}}


    </div>
  </div>
</div>

<script src="/js/player.js"></script>