<form id="dashboardHandles" class="new-project-form bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">NBA Basketball Fantasy 3v3</h2>
      <p class="mt-2 text-lg leading-8 text-gray-600">Where the top players go head to head</p>
    </div>
    <div
      class="mx-auto mt-10 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 border-t border-gray-200 pt-10 sm:mt-16 sm:pt-16 lg:mx-0 lg:max-w-none lg:grid-cols-3">
      <article class="items-start justify-between">
        <div class="flex items-center gap-x-4 text-xs">
        </div>
        <div class="group relative">
          <h3 class="text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
            <a href="#">

              <span class="absolute inset-0"></span>
              Spotlight! # 1 Ranked Player
            </a>
            <h2 id="profile-heads">Nikola Jokic{{name}}</h2>
          </h3>
          <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600"></p>
        </div>
        <div class="relative gap-x-4">
          <img src="https://cdn.nba.com/headshots/nba/latest/1040x760/203999.png" alt=""
            class="object-left h-96 w-96 ...">
          <div class="text-sm leading-6">
            <p class="font-semibold text-gray-900">
              <a href="#">
                <span class="absolute inset-0"></span>

              </a>
            </p>

          </div>
        </div>
      </article>

      <div>
        <div class="px-4 sm:px-0">
          <h3 class="text-base font-semibold leading-7 text-gray-900">How to play?</h3>
          <p class="mt-1 max-w-2xl text-sm leading-6 text-gray-500">Your Objective is to build a Championship caliber
            team as the newly appointed General Manager. Utilize the resources awarded and create your dynasty!</p>
        </div>
        <div class="mt-6 border-t border-gray-100">
          <dl class="divide-y divide-gray-100">
            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
              <dt class="text-sm font-medium leading-6 text-gray-900">Become the Ultimate General Manager</dt>
              <h3 class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">Win a Championship!</h3>
            </div>

            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
              <dt class="text-sm font-medium leading-6 text-gray-900">Salary expectation</dt>
              <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">$10,000,000</dd>
            </div>
            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
              <dt class="text-sm font-medium leading-6 text-gray-900">About</dt>
              <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">Welcome to the Fantasy NBA 3 on 3
                Basketball Tournament! You have been awarded $10,000,000 as the newly appointed General Manager to draft
                your "DreamTeam" and see how they fare up against other Fantasy match-ups!</dd>
            </div>
          </dl>
        </div>
      </div>











      <article class="flex max-w-xl flex-row justify-between">
        {{!-- <div class="flex items-center gap-x-4 text-xs center">
        </div> --}}
        <div class="group relative items-center">
          <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
            {{!-- <a href="#">

              <span class="absolute inset-0"></span> --}}
              {{teams.[0].teamName}}
              {{!-- </a> --}}
            {{!-- <h2 id="profile-heads">My 3v3 Team</h2> --}}
          </h3>

          <div id='myTeam' class="mt-5 text-sm leading-6 text-gray-600 center">
            {{#each teams.[0].players as |player|}}
            <img class="items-center object-scale-down h-12 w-36 ..." src={{player.img}} alt="">
            <p>{{player.name}}</p>
            <p>{{player.ppg}} ppg</p>
            <p>{{player.rebounds}} rebounds</p>
            <p>{{player.assists}} assists</p>
            {{/each}}

          </div>
        </div>

      </article>

      {{!-- <div class="playerContainer"> --}}
        {{!-- <b>
          <h1 class="text-lg">Add 3 players to your team!</h1>
        </b> --}}
        <section>
        {{#each players as |player|}}
        <div class="players block grid grid-cols-4 gap-4 playerContainer" data-id={{player.id}}>
          {{!-- <li class="flex justify-between gap-x-6 py-5"> --}}

            <img class="object-scale-down h-12 w-36 ..." src={{player.img}} alt="">

            <p class="text-sm font-semibold leading-6 text-gray-900">{{player.name}}</p>
            <p class="text-sm leading-6 text-gray-900">Ranking</p>
            <p class="mt-1 text-xs leading-5 text-gray-500">{{player.ranking}}</p>
            <p></p>
            <p class="mt-1 truncate text-xs leading-5 text-gray-500">{{player.ppg}} ppg</p>
            <p class="mt-1 truncate text-xs leading-5 text-gray-500">{{player.rebounds}} rebounds</p>
            <p class="mt-1 truncate text-xs leading-5 text-gray-500">{{player.assists}} assists</p>
            <p></p>
            <div class="">
              <p class="text-sm leading-6 text-gray-900">Cost</p>
              <p class="mt-1 text-xs leading-5 text-gray-500">${{player.cost}}</p>
            </div>


            {{!--
          </li> --}}
        <button class="addBtn bg-success" data-id={{player.id}}>Add</button>
        </div>

        <p class="mt-2 line-clamp-3 text-sm leading-6 text-gray-600"></p>
        {{/each}}
        </section>
        {{!--
      </div> --}}

      {{!-- <div class="group relative">
        <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
          <a href="#" class="grid grid-rows-3 grid-flow-col gap-4 py-3">
            <span class="absolute inset-0"></span>
            <h2 class="text-center">Who Will Be Victorious?</h2><br>
            <img src="https://m.media-amazon.com/images/I/51yQix+-S1L.jpg" alt="" class="object-left h-96 w-96 ...">
          </a>
        </h3>
        <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600"></p>
      </div>

      <div class="group relative">
        <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
          <a href="#" class="grid grid-rows-3 grid-flow-col gap-4 py-3">
            <span class="absolute inset-0"></span>
            <h2 class="text-center">Who Will Be Victorious?</h2><br>
            <img src="https://m.media-amazon.com/images/I/51yQix+-S1L.jpg" alt="" class="object-left h-96 w-96 ...">
          </a>
        </h3>
        <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600"></p>
      </div> --}}



    </div>
  </div>
</form>

<script src="/js/dashboard.js"></script>
<script src="/js/player.js"></script>
